/* Navbar Styles */
.navbarLogo{
    height: 50px;
    width: 200px
}

.marginLi{
    margin: 20px;
}

/* footer */

.stickyFooter{
    display: 'block';
    padding: '20px';
    height: '60px';
    width: '100%';
}

.mainFooter{
    background-color: "#F8F8F8";
    border-top: "1px solid #E7E7E7";
    text-align: "center";
    padding: "20px";
    position: "fixed";
    left: "0";
    bottom: "0";
    height: "60px";
    width: "100%";
}

/* About page */
.gridImages{
    height:200px
}